.critique-evaluation {
    .dish-item {
        margin-top: 15px;
        color: black;
        margin-bottom: 20px;
        background: white;
        box-shadow: 0 0 0.5rem #00000018;
        border-radius: 15px;
        padding: 10px 15px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .info-col {
            width: 100%;
            padding-left: 26px;
            .food__name {
                font-size: 11.5px;
                font-family: $poppins;
                margin-bottom: 6px;
                font-weight: 500;
                padding-bottom: 8px;
                border-bottom: 1px solid #ececec;
                width: fit-content;
                max-width: calc(100% - 15px);
            }
            .food__chef {
                font-size: 14.5px;
                font-family: $poppins;
                margin-bottom: 0;
                font-weight: 700;
            }
        }
        .img-col {
            position: relative;
            width: 80px;
            height: 80px;
            flex: 0 0 80px;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .medal {
                position: absolute;
                top: -4px;
                left: -4px;
                border-radius: 5px;
                background: #000;
                width: 26px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 17px;
                    height: 17px;
                }
            }
            .overnap {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                text-align: center;
                background-color: #00000055;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin-bottom: 0;
                    font-size: 24px;
                    font-family: $open-sans;
                    letter-spacing: 0.8px;
                    font-weight: 700;
                    color: white;
                }
            }
        }
        .rangking {
            top: 0;
            left: 0;
            position: absolute;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: $primary-dark;
            font-size: 13px;
            font-family: $poppins;
            font-weight: 600;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            color: $primary;
        }
    }
    .dish-header {
        margin-top: 8px;
        text-align: center;
        background: white;
        box-shadow: 0 0 0.5rem #00000018;
        border-radius: 15px;
        padding: 18px 15px;
        margin-bottom: 20px;
        @media(min-width: 992px){
            box-shadow: unset;
            border-left: 1px solid #ccc;
            padding-left: 15px;
            border-radius: 0;
            padding: 8px 15px;
            margin-top: 28px;
            margin-bottom: 32px;
        }
        h5 {
            font-size: 15px;
            font-family: $poppins;
            font-weight: 700;
            margin-bottom: 7px;
            span {
                margin-left: 5px;
                i {
                    @include text-gradient;
                    margin-left: 1px;
                }
            }
        }
        .info-span {
            display: flex;
            margin: 15px auto 0;
            width: fit-content;
            & div {
                padding: 5.5px 23px;
                font-size: 9.5px;
                font-family: $poppins;
                width: 50%;
                text-align: center;
                white-space: nowrap;
                span {
                    margin-left: 5px;
                    i {
                        @include text-gradient;
                        margin-left: 2px;
                    }
                }
                &.black {
                    background-color: $primary-dark;
                    color: white;
                    border-top-left-radius: 50rem;
                    border-bottom-left-radius: 50rem;
                }
                &.grey {
                    background-color: $primary-dark-light;
                    border-top-right-radius: 50rem;
                    border-bottom-right-radius: 50rem;
                    color: white;
                }
            }
        }
    }
    .dish-inner {
        .dish-body {
            background: white;
            box-shadow: 0 0 0.5rem #00000018;
            border-radius: 15px;
            padding: 14px 18px;
            margin-top: 20px;
            @media(min-width: 992px){
                box-shadow: unset;
                margin-top: unset;
            }
            .desc {
                p {
                    font-size: 10px;
                    font-family: $poppins;
                    line-height: 1.5;
                    letter-spacing: 0.36px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .dish-critique{
        @media(min-width: 992px){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-head{
                width: 100%;
                display: flex;
                border-bottom: 1px solid #ccc;
                .dish-item{
                    margin-right: 24px;
                }
            }
            .dish-body{
                padding: 20px 0px;
            }
        }
    }
}