.options-page {
    .options-list {
        margin-top: 15px;
        .options-item {
            margin-bottom: 20px;
            background: white;
            box-shadow: 0 0 0.5rem #00000018;
            border-radius: 25px;
            padding: 17px 30px;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            @media(min-width: 992px){
                margin-bottom: 35px;
            }
            .info-col {
                width: 100%;
                .option__desc {
                    font-size: 10.5px;
                    font-family: $poppins;
                    margin-bottom: 0;
                    line-height: 1.4;
                    font-weight: 500;
                }
                .option__title {
                    font-family: $poppins;
                    font-size: 13px;
                    font-weight: 700;
                    margin-bottom: 7px;
                    width: fit-content;
                }
            }
            .choose {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30px;
                height: 28px;
                background-color: $primary;
                border-radius: 10px;
                border-top-left-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 15px;
                }
            }
        }
    }
    .checkout-button {
        button {
            background: $primary-dark;
            width: fit-content;
            padding: 8px 60px;
            margin: 0 auto;
            border-radius: 15px;
            font-weight: 500;
            font-size: 13px;
            font-family: $poppins;
            color: white;
            transition: 0.3s;
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
}